.score_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  align-items: center;
  width: 90%;
  height: fit-content;
  filter: brightness(0.9);
  background-color: white;
  border-radius: 1rem;
}

.score_card {
  min-width: 10rem;
  position: relative;
  height: 10rem;
  margin: 1rem;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.progressBar {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.input {
  padding: 0.75rem 3rem 0.75rem 0.5rem;
  border-radius: 4px;
  width: 20rem;
  margin-right: 0.5rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: #1672ec;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.secondary_btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  margin-left: 0.5rem;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: #fff;
  border: 2px solid #1672ec;
  color: #1672ec;
  transition: all 0.3s ease-in-out;
}

.address_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.metrics_wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
  align-items: flex-start;
  width: 90%;
  height: fit-content;
  flex-direction: column;
}

.subtitle_wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
  align-items: flex-start;
  width: 90%;
  height: fit-content;
  flex-direction: column;
  border-bottom: 2px solid #e0e0e0;
}
.metric_icon {
  width: 1rem;
  height: 1rem;
  background-color: red;
  margin: 1rem;
}

.metric_card {
  width: 40%;
  min-height: 5rem;
  flex-grow: 1;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.lowScore {
  background-color: #faa09e;
}

.highScore {
  background-color: #c5f2c7;
  border-radius: 50px;
}

.card_container {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.metric_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avg_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
}

.avg_score {
  position: absolute;
  font-size: 1.5rem;
  top: -3.5rem;
  left: 50%;
  height: 7rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}

.avgBar {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
}

.avg_copy {
  width: 50%;
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.report {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metric_header {
  font-size: 1.5rem;
  padding: 1rem 0;
}
