.score_wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem auto;
  align-items: center;
  width: 90%;
  height: fit-content;
  outline: 2px solid red;
}

.score_card {
  min-width: 10rem;
  position: relative;
  height: 10rem;
  margin: 1rem;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.progressBar {
  width: 5rem;
  height: 5rem;
  outline: 2px solid;
  border-radius: 1rem;
}

.input {
  padding: 0.75rem 3rem 0.75rem 0.5rem;
  border-radius: 4px;
  width: 20rem;
  margin-right: 0.5rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: #1672ec;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--);
}

.address_wrapper {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.metrics_wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 1rem auto;
  align-items: flex-start;
  width: 90%;
  height: fit-content;
  outline: 2px solid blue;
  flex-direction: column;
}
.metric_icon {
  width: 1rem;
  height: 1rem;
  background-color: red;
  margin: 1rem;
}

.metric_card {
  min-width: 50%;
  min-height: 5rem;
  outline: 2px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
