.hero {
  display: flex;
  height: fit-content;
  min-height: calc(100vh - 12rem);
  align-items: center;
  justify-content: center;
}

.hero_header {
  font-weight: bold;
  font-size: 6rem;
  line-height: 125%;
  margin-top: 1rem;
}

.hero_subheader {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 125%;
}

.hero_desc {
  font-weight: normal;
  font-size: 2rem;
  line-height: 138%;
}

.hero_text {
  padding: 2rem;
  min-width: 50%;
}
.hero_wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.hero_img {
  width: 34.75rem;
  min-width: 20.475rem;
  border-radius: 144px;
}

.hero_img video {
  width: 100%;
  border-radius: 64px;
  transition: border-radius cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.text_subheader {
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 125%;
  text-align: center;
}

.landing_card {
  height: 12rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
  border: 2px solid #efefef;
  border-radius: 6px;
  margin: 2rem 0.5rem;
  background-color: #fefefe;
}

.offerings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  outline: 2px solid;
}

.landing_card:hover {
  filter: brightness(0.95);
}

.card_wrapper {
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero_text {
    padding: 1rem;
    min-width: 100%;
  }
  .hero_wrapper {
    width: 100%;
    padding: 1rem;
  }

  .landing_card {
    height: 15rem;
    width: 100%;
    margin: 1rem 0;
  }

  .offerings {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card_wrapper {
    width: 90%;
  }
}
