/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --BG: white;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  scroll-snap-type: y mandatory;
  word-wrap: break-word;
  overflow-wrap: break-word;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.App {
  display: grid;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 12rem auto;
  grid-template-areas: "header" "content";
  font-family: "IBM Plex Sans Condensed", sans-serif;
}

.content {
  grid-area: content;
  min-height: calc(100vh);
}

::-webkit-scrollbar {
  display: none;
}
